@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page1 {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
  }

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  /* text-align: center; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.input-container{
    margin-bottom: 15px;
}

.input-container1{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}


.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.error{
    color: red;
    margin: 10px;
}

body {
    min-width: 100%;
min-height: 100vh;
  background-color: (#307488, #32768a, #34788c, #357a8e);
  background-image: linear-gradient(to top, #307488, #32768a, #34788c, #357a8e, #377c90, #468094, #538398, #5f879c, #768da0, #8994a3, #989ba5, #a4a4a6);


  /* background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
  
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

.center{
    display: flex;
    justify-content: center;
    justify-items: center
}

.centerimg{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.centerimg img{
  width: 15%;
  height: 15%;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.head{
  margin-bottom: 3rem;
}

.belowimage{
  display: flex;
  justify-content: space-around;  
}

.belowimage img{
  width: 15%;
  height: 15%;
}